body {
    font-family: 'Roboto Slab', serif;
    background-color: #4169e1;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
