body {

    font-family: 'Roboto Slab', serif;
    background-color: #4169e1;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.image {
   display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100px; 
    
}