body {
    background-color: #4169e1;
    width: 99.5%;
    text-align: center;
}

h1 {
    font-family: 'roboto slab', serif;
    color: #181818
}

.black_box {
    color: #000000;
    font-family: 'Source Code Pro', monospace;
}

.alunos_text {
    display: none;
    color: #000000;
    font-family: 'Source Code Pro', monospace;
}

button {
    font-family: 'roboto slab', serif;
    font-size: medium;
    font-weight: bold;
    background-color: rgba(80, 81, 84, 0.8);
    border: 1px solid #ededf0;
    border-radius: 8px;
    color: #e8eaed;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

button:hover {
    border-color: #e8eaed;
}
.title {
    text-align: center;
    font-size: 3rem;
}

.image {
    width: 205vh;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.foto_turma {
    max-width: 600px;
    border-radius: 10px;
    margin: 20px 0;
    margin: 30px;
}

img {
    border-radius: 10px;
    margin: 20px 0;
}
.section_button { position: fixed; bottom: 670px; right: 650px; }
