body {
    background-color: #4169e1;
}

h1 {
    font-family: 'roboto slab', serif;
    color: #181818
}

.black_box {
    color: #000000;
    font-family: 'Source Code Pro', monospace;
}

.alunos_text {
    visibility: hidden;
    color: #000000;
    font-family: 'Source Code Pro', monospace;
}

button {
    font-family: 'roboto slab', serif;
    font-size: medium;
    font-weight: bold;
    background-color: #fa8722;
}

.title {
    text-align: center;
    font-size: 3rem;
}

.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}