body {
    background-color: #4169e1;
}

<<<<<<< HEAD
.title {
    text-align: center;
<<<<<<< HEAD:Frontend/style.css
    font-size: 3rem;
}

.image {
   display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center;     /* Centraliza verticalmente */
  height: 100px; 
    
=======
>>>>>>> 4bc8ac96971940002e172e27c1f8193f2d90b79a
>>>>>>> 17ca0e4c77fc708e992375e3e3f7eff16091a4ba:style.css
=======
h1 {
    font-family: 'roboto slab', serif;
    color: #181818
>>>>>>> 9183a21a9fdca9488572b6d3810fd0748ae16004
}